We will perform dNdS using probabilities for single base substitutions (single nucleotide context)

Do we have patients with 2 mutations in a single gene?

General steps:
1. Get the probabilities for all 6 types of single base substitutions
   - C>A
   - C>G
   - C>T
   - T>A
   - T>C
   - T>G
2.

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [16]:
# change working directory to project-2
if os.getcwd().split('/')[-1] != 'project-2':
    os.chdir('../../../')

# set paths
METADATA = 'data/raw/TCGA.BRCA.metadata.txt'
MUTATIONS = 'data/processed/TCGA.BRCA.mutations.qc1.txt'
DNDS = 'results/tables/dnds_simple_results.tsv'

df_mut = pd.read_csv(MUTATIONS, sep='\t')
df_meta = pd.read_csv(METADATA, sep='\t')
df_dnds = pd.read_csv(DNDS, sep='\t')

In [17]:
df_dnds.head()

,synonymous,Missense_Mutation,Nonsense_Mutation,Translation_Start_Site,Nonstop_Mutation,CDS_length,Hugo_Symbol,synonymous_opportunity,nonsynonymous_opportunity,observed_nonsynonymous,dS,dN,dN/dS
0,1,4,2,0,0,NaN,A2M,3082,10193,6,0.000324,0.000589,1.814186
1,4,6,1,0,0,NaN,A2ML1,3006,10089,7,0.001331,0.000694,0.521409
2,1,4,0,0,0,NaN,AARS,2014,6707,4,0.000497,0.000596,1.201133
3,1,4,0,0,0,NaN,AATK,3147,9228,4,0.000318,0.000433,1.364109
4,2,3,0,0,0,NaN,ABCA1,4612,15746,3,0.000434,0.000191,0.439350

In [18]:
df_dnds.sort_values('dN/dS', ascending=False, inplace=True)
df_dnds.head()

,synonymous,Missense_Mutation,Nonsense_Mutation,Translation_Start_Site,Nonstop_Mutation,CDS_length,Hugo_Symbol,synonymous_opportunity,nonsynonymous_opportunity,observed_nonsynonymous,dS,dN,dN/dS
2222,2,164,38,0,0,NaN,TP53,831,2715,202,0.002407,0.074401,30.913812
1651,6,282,0,0,0,NaN,PIK3CA,2005,7616,282,0.002993,0.037027,12.373293
1187,1,24,0,0,0,NaN,LRP2,8782,33122,24,0.000114,0.000725,6.363384
788,1,19,0,0,0,NaN,FOXA1,1014,3243,19,0.000986,0.005859,5.940796
1242,1,11,7,0,0,NaN,MAP2K4,785,2815,18,0.001274,0.006394,5.019538