In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from scipy.stats import poisson
from scipy.stats import fisher_exact

In [61]:
# change working directory to project-2
if os.getcwd().split('/')[-1] != 'project-2':
    os.chdir('../../../')

# set paths
METADATA = 'data/raw/TCGA.BRCA.metadata.txt'
MUTATIONS = 'data/processed/TCGA.BRCA.mutations.qc1.txt'
DNDS = 'results/tables/dnds_simple_results.tsv'
CDS_LENGTHS = 'data/processed/gencode.v23lift37.pc_transcripts.transcripts_in_TCGA_MAF.cds_lengths.tsv'
path_intogen = "data/raw/IntOGen-DriverGenes_TCGA_WXS_BRCA.tsv"

df_mut = pd.read_csv(MUTATIONS, sep='\t')
df_meta = pd.read_csv(METADATA, sep='\t')
df_dnds = pd.read_csv(DNDS, sep='\t')
df_cds = pd.read_csv(CDS_LENGTHS, sep='\t')
df_intogen = pd.read_csv(path_intogen, sep="\t")

In [62]:
df_dnds.keys()

Index(['synonymous', 'Frame_Shift_Del', 'Frame_Shift_Ins', 'In_Frame_Del',
       'In_Frame_Ins', 'Missense_Mutation', 'Nonsense_Mutation',
       'Nonstop_Mutation', 'Translation_Start_Site', 'CDS_length',
       'Hugo_Symbol', 'synonymous_opportunity', 'nonsynonymous_opportunity',
       'observed_nonsynonymous', 'Indels', 'NS_SNV', 'dS', 'dN', 'dN/dS',
       'poisson_pval', 'fisher_odds', 'fisher_pval', 'chi2', 'chi2_pval'],
      dtype='object')

In [63]:
df_intogen.head()

  Symbol  Mutations  Samples  Samples (%)
0   HRAS          5        5         0.50
1   KLF4          5        4         0.40
2   KRAS          6        6         0.59
3   JAK2          6        6         0.59
4  SMAD4          6        5         0.50

In [64]:
intersect = df_dnds[df_dnds.Hugo_Symbol.isin(df_intogen.Symbol)][['Hugo_Symbol','synonymous','observed_nonsynonymous','fisher_pval','dN/dS']]
intersect = intersect.sort_values(by='synonymous')
intersect['fisher_pval'] = intersect['fisher_pval'].round(2)
significant_intogen = intersect[intersect['fisher_pval'] < 0.05]

In [68]:
hits = df_dnds[df_dnds['fisher_pval'] < 0.05].set_index('Hugo_Symbol')[['dN/dS', 'fisher_pval']].sort_values(by='dN/dS', ascending=False).dropna().round({'dN/dS':2})
hits['fisher_pval'] = hits['fisher_pval'].apply(lambda x: f"{x:.3e}")
hits.to_csv('results/tables/dnds_significant.csv')

In [43]:
significant_intogen

     Hugo_Symbol  synonymous  observed_nonsynonymous  fisher_pval      dN/dS
111         AKT1           0                      24         0.01        NaN
304        BRCA2           0                      18         0.03        NaN
2679        TBX3           0                      22         0.00        NaN
2178        PTEN           0                      42         0.00        NaN
2413       SF3B1           0                      15         0.04        NaN
1529      MAP2K4           1                      25         0.03   5.933658
204       ARID1A           1                      21         0.04   5.530878
973        FOXA1           1                      25         0.02   6.653073
1009       GATA3           2                      75         0.00  10.145395
2346       RUNX1           2                      31         0.01   4.379868
2770        TP53           2                     246         0.00  32.042587
438         CDH1           3                      88         0.00   7.693293
1530      MAP3K1           3                      89         0.00   7.620841
1390       KMT2C           5                      71         0.00   3.506630
2035      PIK3CA           6                     291         0.00  10.867270

In [46]:
intersect['sum'] = intersect['observed_nonsynonymous'] + intersect['synonymous']
intersect.sort_values(by='sum', ascending=False, inplace=True)
intersect

,Hugo_Symbol,synonymous,observed_nonsynonymous,fisher_pval,dN/dS,sum
2035,PIK3CA,6,291,0.00,10.867270,297
2770,TP53,2,246,0.00,32.042587,248
1530,MAP3K1,3,89,0.00,7.620841,92
438,CDH1,3,88,0.00,7.693293,91
1009,GATA3,2,75,0.00,10.145395,77
1390,KMT2C,5,71,0.00,3.506630,76
2178,PTEN,0,42,0.00,NaN,42
1718,NCOR1,3,30,0.07,2.545662,33
2346,RUNX1,2,31,0.01,4.379868,33
923,FAT3,6,22,0.67,0.921933,28
1738,NF1,4,23,0.37,1.391946,27
973,FOXA1,1,25,0.02,6.653073,26
1529,MAP2K4,1,25,0.03,5.933658,26
2249,RB1,2,22,0.14,2.594053,24
111,AKT1,0,24,0.01,NaN,24
850,ERBB2,2,21,0.10,2.851007,23
2679,TBX3,0,22,0.00,NaN,22
204,ARID1A,1,21,0.04,5.530878,22
2037,PIK3R1,1,20,0.08,4.582577,21
303,BRCA1,2,17,0.30,1.899488,19
304,BRCA2,0,18,0.03,NaN,18
614,CTCF,3,14,0.62,1.039439,17
392,CBFB,2,14,0.40,1.604551,16
386,CASP8,0,15,0.05,NaN,15
2413,SF3B1,0,15,0.04,NaN,15
829,EP300,2,11,0.52,1.343178,13
1577,MED23,2,10,0.59,1.189748,12
851,ERBB3,1,11,0.26,2.835847,12
2285,RGS7,1,10,0.38,2.227438,11
930,FBXW7,0,10,0.12,NaN,10
1323,KDM6A,1,9,0.39,2.183582,10
34,ABL2,2,7,0.72,0.921777,9
945,FGFR2,1,7,0.51,1.716896,8
2675,TBL1XR1,0,8,0.18,NaN,8
1719,NCOR2,1,6,0.53,1.669213,7
49,ACVR1B,1,6,0.56,1.547697,7
807,EIF4A2,0,6,0.28,NaN,6
3137,ZXDB,0,6,0.23,NaN,6
1398,KRAS,0,5,0.37,NaN,5
465,CDKN1B,1,4,0.75,0.957054,5
1177,HRAS,1,4,0.74,1.002532,5